/* Outer container */
.app-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

/* Header with background */
.header {
  background: transparent;
  color: #fff;
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.header h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.forecast-section{
    padding: 10px;
}
